<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

      .maxWidth {
        max-width: 667px;
      }

      .text {
        color: #595566;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        margin-bottom: 12px;
        margin-top: 12px;
      }

      .textLeft {
        text-align: left;
      }

      .subTitle {
        color: #595566;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
      }

      .codesInputsContainer {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(3, 1, 76, 0.2);
      }

      .codesInputs {
        display: inline;
        color: rgba(3, 1, 76, 1);
        font-weight: 700;
        font-size: 20px;
        line-height: 15px;
        margin: 0;
        width: 26px;
        padding-left: 12px;
        padding-right: 12px;
      }

      .key-value-table {
        width: 100%;
        max-width: 374px;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid #d9d9d9;
        border-radius: 16px;
        overflow: hidden;
      }

      .key-value-table th,
      .key-value-table td {
        padding: 8px;
        text-align: left;
      }

      .key-value-table th {
        background-color: #f2f2f2;
      }

      .leftCell {
        background: #f3f1f1;
        font-weight: 700;
        font-size: 12px;
      }

      @media (max-width: 920px) {
        .container {
          padding: 0px !important;
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
      }
    </style>
  </head>

  <body
    style="
      margin: 0 auto;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    "
  >
    <!-- HEADER -->
    <table
      border="0"
      style="height: 100vh"
      bgcolor="#F9F9F9"
      width="100%"
      align="center"
      cellpadding="0"
      cellspacing="0"
    >
      <tr>
        <td>
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            class="container"
            style="padding-left: 192px; padding-right: 192px"
            align="center"
            style="max-width: 920px"
          >
            <tr>
              <td
                style="background-color: #ededed; height: 66px"
                align="center"
              >
                <img
                  style="width: 150px"
                  src="http://albalfresco-2113738468.us-east-1.elb.amazonaws.com/alfresco/api/-default-/public/alfresco/versions/1/shared-links/R5HUTsVXRZ2FjzjKnz9V1Q/content"
                  alt="Logo Arl"
                />
              </td>
            </tr>

            <!-- CONTENT -->

            <tr>
              <td align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="center">
                      <p
                        class="maxWidth subTitle"
                        style="
                          font-size: 22px !important;
                          margin: 0;
                          color: rgba(223, 119, 2, 1);
                          font-weight: 600;
                          margin-top: 49px;
                        "
                      >
                        ¡Te damos la bienvenida a {arlName}!
                      </p>
                    </td>
                  </tr>

                  <tr>
                    <td align="center">
                      <div
                        style="
                          width: 100%;
                          min-height: 205px;
                          border-radius: 20px;
                        "
                      >
                        <img
                          class="maxWidth"
                          style="
                            border-radius: 20px;
                            min-height: 270px;
                            object-position: center;
                            object-fit: cover;
                            width: 100%;
                            margin-top: 26px;
                            margin-bottom: 26px;
                          "
                          src="http://albalfresco-2113738468.us-east-1.elb.amazonaws.com/alfresco/api/-default-/public/alfresco/versions/1/shared-links/jceggZ5gRe-oFOVDi86gow/content"
                          alt="Arl"
                        />
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td align="center">
                      <p
                        class="maxWidth subTitle"
                        style="
                          font-size: 16px !important;
                          line-height: 22px !important;
                          margin: 0;
                        "
                      >
                        Estimado(a) {user},
                      </p>

                      <p
                        class="maxWidth subTitle"
                        style="
                          font-size: 16px !important;
                          line-height: 22px !important;
                          margin-top: 0;
                          margin-bottom: 0px;
                        "
                      >
                        Cordial saludo
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        style="
                          text-align: justify;
                          margin-bottom: 20px;
                          margin-top: 12px;
                        "
                        class="maxWidth"
                      >
                        <p
                          style="
                            margin: 0 !important;
                            line-height: 26px !important;
                          "
                          class="text"
                        >
                          Estamos complacidos de tenerte con nosotros. A partir
                          de ahora, podrás acceder a nuestras funcionalidades y
                          herramientas, diseñadas para ayudarte a realizar
                          trámites relacionados a los procesos de afiliaciones,
                          novedades y recaudo, cartera.
                        </p>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td align="center">
                <table
                  style="
                    background: #ffdfcb47;
                    padding: 10px;
                    padding-left: 26px;
                    padding-right: 26px;
                    width: 100%;
                    border-radius: 8px;
                    border: 1px solid #fea671;
                  "
                  class="maxWidth"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tr>
                    <td>
                      <p class="maxWidth text" style="text-align: center">
                        Tu usuario para ingresar a la plataforma corresponde al
                        tipo y número de documento registrado:
                      </p>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <p
                        style="
                          margin-bottom: 4px;
                          text-align: center;
                          color: rgba(223, 119, 2, 1) !important;
                          font-weight: 700 !important;
                          margin-top: 0;
                          text-decoration: none !important;
                        "
                      >
                        {identificationType}-{identification}
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td>
                <div style="max-width: 600px; margin-top: 26px">
                  <p
                    class="maxWidth"
                    style="
                      font-size: 16px !important;
                      line-height: 22px;
                      color: #595566;
                      margin-bottom: 20px;
                      font-weight: 700;
                      text-align: center;
                    "
                  >
                    ¿Cómo comenzar?
                  </p>
                  <ol class="text" style="padding-left: 20px !important">
                    <li>
                      <p class="text">
                        Ingresa al sitio oficial de la plataforma de
                        <a
                          style="
                            text-decoration: none;
                            color: rgba(223, 119, 2, 1);
                            font-weight: 600;
                          "
                          href="{url}"
                          target="_blank"
                          >{arlName}</a
                        >
                      </p>
                    </li>
                    <li>
                      <p class="text">
                        Utiliza tu tipo y número de documento registrado
                        <b>{identificationType}</b> <b>{identification}</b> como
                        nombre de usuario.
                      </p>
                    </li>
                    <li>
                      <p class="text">
                        Ingresa tu contraseña para acceder a todas las
                        funcionalidades de la plataforma.
                      </p>
                    </li>
                  </ol>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <p
                  style="
                    text-align: center;
                    color: rgba(223, 119, 2, 1);
                    font-weight: 600;
                    margin-top: 20px;
                  "
                >
                  Gracias por unirte.
                </p>
                <p style="font-weight: 600; text-align: center">
                  Estamos seguros de que disfrutarás de todas las ventajas que
                  <br />
                  ofrecemos.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- FOOTER -->

      <tr>
        <td align="center">
          <table class="maxWidth" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
                <p
                  class="maxWidth subTitle container-inside"
                  style="
                    margin-bottom: 0;
                    margin-top: 26px;
                    font-size: 16px !important;
                  "
                >
                  Cordialmente,
                </p>
              </td>
            </tr>
            <tr>
              <td align="center">
                <p
                  class="maxWidth text container-inside"
                  style="color: rgba(89, 85, 102, 0.7)"
                >
                  Gerencia de Afiliaciones y Novedades
                </p>
              </td>
            </tr>
            <tr>
              <td align="center">
                <p
                  class="container-inside"
                  style="
                    padding-bottom: 92px;
                    margin: 0;
                    color: rgb(89, 85, 102, 0.7);
                    font-size: 10px;
                    line-height: 12px;
                  "
                  class="maxWidth container-inside"
                >
                  Este es un mensaje automático, por favor absténgase de
                  responder este correo. Para cualquier inquietud o información,
                  no dude en solicitarla por cualquiera de nuestros canales
                  disponibles.
                </p>
              </td>
            </tr>
            <tr>
              <td align="right">
                <p
                  style="
                    background-color: #2c2c2c;
                    margin: 0;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    width: 165px;
                  "
                ></p>
                <p
                  style="
                    background-color: #df7702;
                    margin: 0;
                    padding-top: 7px;
                    padding-bottom: 7px;
                  "
                ></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
