<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    .maxWidth {
      max-width: 600px;
    }

    .text {
      color: #595566;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      margin-bottom: 12px;
      margin-top: 12px;
    }

    .textLeft {
      text-align: left;
    }

    .subTitle {
      color: #595566;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
    }

    .codesInputsContainer {
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(3, 1, 76, 0.2);
    }

    .codesInputs {
      display: inline;
      color: rgba(3, 1, 76, 1);
      font-weight: 700;
      font-size: 20px;
      line-height: 15px;
      margin: 0;
      width: 26px;
      padding-left: 12px;
      padding-right: 12px;
    }
  </style>
</head>

<body style="margin: 0 auto; font-family: 'Montserrat', Arial, Helvetica, sans-serif">
  <!-- HEADER -->
  <table border="0" style="height: 100vh;" bgcolor="#F9F9F9" width="100%" align="center" cellpadding="0"
    cellspacing="0">
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" class="maxWidth"
          style="padding-left: 192px; padding-right: 192px;" align="center" style="max-width: 920px;">
          <tr>
            <td align="center">
              <img style="padding-top: 112px;" src="http://albalfresco-2113738468.us-east-1.elb.amazonaws.com/alfresco/api/-default-/public/alfresco/versions/1/shared-links/TSqgkBleROq6C5FjHYbddA/content" alt="Logo Arl">
            </td>
          </tr>


          <!-- CONTENT -->

          <tr>
            <td align="center">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center">
                    <p class="maxWidth"
                      style="color: #DF7702; font-size: 24px; line-height: 28px; font-weight: 600; margin-bottom: 32px; margin-top: 44px;">
                      Confirmar código
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <p class="maxWidth subTitle" style="margin: 0;">{usuario},</p>
                    <p class="maxWidth subTitle" style="margin: 0;">Cordial saludo</p>
                  </td>
                </tr>

                <tr>
                  <td align="center">
                    <p class="maxWidth subTitle" style="margin-top: 12px; margin-bottom: 12px;">Proceso de afiliación
                    </p>
                  </td>
                </tr>

                <tr>
                  <td align="center">
                    <p class="maxWidth text" style="font-size: 16px !important;">La Administradora de Riesgos
                      Laborales Nombre de la ARL, te da la bienvenida (Razón social) A partir de ahora haces parte de la
                      familia <<(nombre ARL)>> <<(lema de la empresa)>>.</p>
                  </td>
                </tr>
                <td align="center">
                  <!-- Los códigos se insertan dinámicamente aquí -->
                  <div class="codesInputsContainer">
                    <p class="codesInputs">{digit1}</p>
                  </div>
                  <div class="codesInputsContainer">
                    <p class="codesInputs">{digit2}</p>
                  </div>
                  <div class="codesInputsContainer">
                    <p class="codesInputs">{digit3}</p>
                  </div>
                  <div class="codesInputsContainer">
                    <p class="codesInputs">{digit4}</p>
                  </div>
                  <div class="codesInputsContainer">
                    <p class="codesInputs">{digit5}</p>
                  </div>
                  <div class="codesInputsContainer">
                    <p class="codesInputs">{digit6}</p>
                  </div>
                </td>
                <tr>
                  <td align="center">
                    <img class="maxWidth" style="margin-top: 26px; margin-bottom: 26px;" src="http://albalfresco-2113738468.us-east-1.elb.amazonaws.com/alfresco/api/-default-/public/alfresco/versions/1/shared-links/FJcONZlAT1C0ihfaGNVUnQ/content"
                      alt="Arl">
                  </td>

                </tr>
                <tr>
                  <td align="center">
                    <table
                      style="padding: 10px; background: rgba(255, 223, 203, 0.28); width: 100%; border-radius: 8px; border: 1px solid rgba(254, 166, 113, 1);"
                      class="maxWidth" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td>
                          <p style="text-align: center; color: rgba(223, 119, 2, 1); font-weight: 700;">Recuerda:</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p class="text" style="margin-bottom: 0px !important; margin-top: 0px !important;">
                            Ingresando al
                            <span style="text-align: center; color: rgba(223, 119, 2, 1); font-weight: 600;">portal de
                              tu ARL</span>
                            podrás realizar:
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <ul style="list-style: none; padding-left: 0px; margin-top: 0px;">
                            <li class="text" style="margin-bottom: 10px;">
                              <div
                                style="margin-right: 4px; display: inline-block; background: rgba(223, 119, 2, 1); font-weight: bold; width: 11px; height: 11px; border-radius: 100%;">
                              </div>
                              Afiliación, retiros y demás novedades.
                            </li>
                            <li class="text" style="margin-bottom: 10px;">
                              <div
                                style="margin-right: 4px; display: inline-block; background: rgba(223, 119, 2, 1); font-weight: bold; width: 11px; height: 11px; border-radius: 100%;">
                              </div>
                              Expedición de carnet y certificados de afiliación ARL.
                            </li>
                            <li class="text" style="margin-bottom: 10px;">
                              <div
                                style="margin-right: 4px; display: inline-block; background: rgba(223, 119, 2, 1); font-weight: bold; width: 11px; height: 11px; border-radius: 100%;">
                              </div>
                              Te recordamos la importancia de estar al día en el pago de los aportes, teniendo en cuenta
                              las fechas límites establecidas en el decreto 1990 de 2016.
                            </li>
                            <li class="text" style="margin-bottom: 10px;">
                              <div
                                style="margin-right: 4px; display: inline-block; background: rgba(223, 119, 2, 1); font-weight: bold; width: 11px; height: 11px; border-radius: 100%;">
                              </div>
                              Ante cualquier inquietud o sugerencia puedes escribirnos al correo xxxxxxxx@xxx.xxx.
                            </li>
                            <li class="text" style="margin-bottom: 10px;">
                              <div
                                style="margin-right: 4px; display: inline-block; background: rgba(223, 119, 2, 1); font-weight: bold; width: 11px; height: 11px; border-radius: 100%;">
                              </div>
                              En los documentos adjuntos encontraras el certificado de afiliación como empleador y el
                              formulario de afiliación.
                            </li>
                          </ul>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>

              </table>
            </td>
          </tr>

          <!-- FOOTER -->

          <tr>
            <td align="center">
              <table style="margin-top: 26px; border-top: 1px solid rgba(217, 217, 217, 1);" border="0" cellpadding="0"
                cellspacing="0">

                <tr>
                  <td align="center">
                    <p class="maxWidth subTitle" style="margin-bottom: 0; margin-top: 26px;">Cordialmente,</p>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <p class="maxWidth text" style="color: rgba(89, 85, 102, 0.7);">Equipo Sistema ARL</p>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <p style="padding-bottom: 112px; margin: 0; color: rgb(89, 85, 102, 0.7); font-size: 10px; line-height: 12px;"
                      class="maxWidth">Este es un mensaje automático, por favor absténgase de responder este correo.
                      Para cualquier
                      inquietud
                      o información, no dude en solicitarla por cualquiera de nuestros canales disponibles.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>

</html>